<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="image/weather.png">
</head>

<body>
    
    <div class="main-content">
          {{>header}}
          <p>This site was created by Muhammad Usman. This site uses data from open-meteo.com and open-cage.com.</p>
        <img class="portrait" src="/image/image.jpg" alt="Unexpected Error!">
    </div>

    {{>footer}}

</body>

</html>